@import '~antd/dist/antd.css';
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';  /* Project id 3006625 */
    src: url('//at.alicdn.com/t/c/font_3006625_7oknf23d27u.woff2?t=1668915184775') format('woff2'),
    url('//at.alicdn.com/t/c/font_3006625_7oknf23d27u.woff?t=1668915184775') format('woff'),
    url('//at.alicdn.com/t/c/font_3006625_7oknf23d27u.ttf?t=1668915184775') format('truetype');
}
.iconfont {
    font-family: 'iconfont';
    font-size: 30px;
    display: inline-block;
    text-align: center;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
}
.showCode {
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
